.launchNft {
  margin-top: 40px;
  margin-bottom: 40px;
}

.launchNftImg img {
  width: 100%;
}

.launchNftInfo h1 {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 51px;
  color: #3a3939;
}
.launchNftInfo p {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6a7071;
  margin-bottom: 25px;
}

.startedButton {
  background: #1caf83;
  border-radius: 30px;
  padding: 12px 62px;
  color: white;
  font-weight: 600;
  border: 1px solid #1caf83;
  transition: 0.4s linear;
  font-family: "Livvic";
}

.startedButton:hover {
  background-color: transparent;
  color: #1caf83;
  border: 1px solid #1caf83;
}

@media only screen and (max-width: 576px) {
  .launchNftInfo h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    line-height: 33px;
  }
  .launchNftInfo p {
    text-align: center;
  }
  .startedButtonDiv {
    text-align: center;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .launchNftInfo h1 {
    text-align: center;
    font-size: 40px;
  }
  .launchNftInfo p {
    text-align: center;
  }
  .startedButtonDiv {
    text-align: center;
  }
  .launchNftImg {
    text-align: center;
    margin-bottom: 20px;
  }
  .launchNftImg img {
    width: 80%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .launchNftImg {
    text-align: center;
  }
  .launchNftImg img {
    width: 501px;
  }
}
